<div id="<%= dom_id meme %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Filename:</strong>
    <%= meme.filename %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= meme.description %>
  </p>

</div>
