<div id="<%= dom_id image_path %>">
  <p class="my-5">
    <div class="text-black dark:text-white bg-slate-200 dark:bg-slate-700 p-2 rounded-xl">
      <%= image_path.path %>
    </div>
  </p>
</div>
