<div class="w-full h-screen">
  <% content_for :title, "Image paths" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Image paths</h1>
    <%= link_to "New image path", new_image_path_path, class: "new-button" %>
  </div>
  <div id="image_paths" class="min-w-full h-full flex flex-col items-start">
    <% @image_paths.each do |image_path| %>
      <div class="flex flex-row">
        <%= render image_path %>
        <div class="mt-7 ml-5 text-black">
          <%= link_to "Adjust / delete this image path", image_path, class: "bg-fuchsia-200 p-2 rounded-2xl" %>
        </div>
      </div>
    <% end %>
    <div class="pagy-nav flex pb-5 justify-center center-content bg-white dark:bg-slate-800">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
