<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Image paths" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Image paths</h1>
    <%= link_to "New image path", new_image_path_path, class: "new-button" %>
  </div>
  <div id="image_paths" class="min-w-full">
    <% @image_paths.each do |image_path| %>
      <div class="flex flex-row">
        <%= render image_path %>
        <div class="mt-7 ml-5">
          <%= link_to "Adjust / delete this image path", image_path, class: "" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
