<%= form_with(model: image_core, class: "contents") do |form| %>
  <div id="<%dom_id image_core %>" class="flex flex-row space-x-10 mb-5 mt-5">
    <% absolute_path, image_name = absolute_image_path(image_core) %>
    <%= image_tag(absolute_path, size: "300", alt: image_name) %>
    <div class="flex flex-col my-auto">
      <h3> Description </h3>
      <textarea id="image_core_update_description_area" rows="4" cols="50" class="text-black">
  <%= image_core.description%>
  </textarea>
    </div>
  </div>
  <div class="inline">
    <%= form.submit "Save", class: "submit-button" %>
  </div>
<% end %>
