<div id="<%= div_id %>">
  <% case status %>
  <% when "not_started" %>
    <div class="flex flex-row space-x-1">
      <%= form_with(url: generate_description_image_core_path(img_id), local: true) do |form| %>
        <% form.submit "generate description 🪄", class: "bg-blue-500 border hover hover:bg-cyan-500 cursor-pointer w-auto py-1 px-2 rounded-2xl"%>
      <% end %>
      <div class="bg-purple-500 hover w-auto py-1 px-2 rounded-2xl text-center text-sm hidden">
        not started
      </div>
    </div>
  <% when "in_queue" %>
    <div class="flex flex-row space-x-1">
      <div class="bg-amber-500 hover w-auto py-1 px-2 rounded-2xl">
        in_queue
      </div>
      <%= form_with(url: generate_stopper_image_core_path(img_id), local: true) do |form| %>
        <% form.submit "cancel", class: "bg-red-500 border hover hover:bg-red-400 cursor-pointer w-auto py-1 px-2 rounded-2xl", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% when "processing" %>
    <div class="bg-emerald-500 hover w-auto py-1 px-2 rounded-2xl text-center text-sm">
      processing
    </div>
  <% when "done" %>
    <%= form_with(url: generate_description_image_core_path(img_id), local: true) do |form| %>
      <% form.submit "generate description 🪄", class: "bg-blue-500 border hover hover:bg-cyan-500 cursor-pointer w-auto py-1 px-2 rounded-2xl"%>
    <% end %>
    <div class="bg-emerald-500 hover w-auto py-1 px-2 rounded-2xl text-center text-sm hidden">
      done
    </div>
  <% when "removing" %>
    <div class="bg-red-500 hover w-auto py-1 px-2 rounded-2xl text-center text-sm">
      removing
    </div>
  <% when "failed" %>
    <div class="bg-red-500 hover w-auto py-1 px-2 rounded-2xl text-center text-sm">
      failed
    </div>
  <% end %>
</div>
