<div class="flex flex-col h-full items-center justify-center">
  <%= render "edit", image_core: @image_core %>
  <div class="flex flex-row space-x-4 mt-3">
    <%= link_to "Back", @image_core, class: "show-button" %>
    <%= link_to "Back to memes", :image_cores, class: "back-button" %>
  </div>
</div>
