<div class="flex flex-col h-full items-center justify-center">
  <%= render partial: "image_core", locals: {image_core: @image_core} %>
  <div class="flex flex-row space-x-4 mt-3">
    <%= link_to "Edit details", [:edit, @image_core], class: "edit-button" %>
    <%= link_to "Back to memes", root_path, class: "back-button" %>
    <%= button_to "Delete", @image_core, method: :delete,  data: { confirm: 'Are you sure?' }, class: "delete-button" %>
  </div>
</div>
