<div id="<%= dom_id image_path %>" class="flex flex-row space-x-10 mb-5 mt-5">
  <p class="my-5">
    <div class="text-black dark:text-white bg-slate-200 dark:bg-slate-700 p-2 rounded-xl">
      <%= image_path.name %>
    </div>
  </p>
</div>
