<div class="text-black dark:text-white bg-slate-200 dark:bg-slate-700 p-2 rounded-xl">
  <div id="<%= dom_id image_core %>">
    <%= image_core.name %>
    <%= image_core.image_path.name %>
    <%= image_core.description %>
  </div>
</div>
