<div class="flex flex-col items-center pt-10 text-black dark:text-white" id="no-search-yet">
    <p class="text-xl">
      Search for somethin would ya?
    </p>
  <img
    src="https://i.pinimg.com/originals/f5/48/5f/f5485f1f382d1e5d6c72a2f66cd490d9.png"
    class="w-1/4 rounded-sm" />
</div>