<div class="w-full">
  <% content_for :title, "Image cores" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Image cores</h1>
    <%= link_to "New image core", new_image_core_path, class: "new-button" %>
  </div>
  <div id="image_cores" class="min-w-full">
    <% @image_cores.each do |image_core| %>
      <%= render image_core %>
      <p>
        <%= link_to "Show this image core", image_core, class: "show-button" %>
      </p>
    <% end %>
    <div class="pagy-nav flex my-5 mb-5 pb-5 justify-center center-content">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
