<div class="flex flex-col h-full items-center justify-center">
  <%= render partial: "image_core", locals: {image_core: @image_core} %>
  <div class="flex flex-col space-y-2 ml-2">
    <%= link_to "Edit", edit_image_core_path(@image_core), class: "edit-button" %>
    <%= link_to "Back", image_cores_path, class: "back-button" %>
    <%= button_to "Destroy", @image_core, method: :delete,  data: { confirm: 'Are you sure you want to delete this upload?' }, class: "delete-button" %>
  </div>
</div>
