<div class="flex flex-col space-y-5 items-center">
  <h1 class="font-semibold text-4xl border border-b-2 border-t-0 border-r-0 border-l-0 border-black dark:border-white"> Settings </h1>
  <%= link_to  "Adjust image tags", [:settings, :tag_names], class: "index-button" %>
  <%= link_to  "Adjust image paths", [:settings, :image_paths], class: "index-button" %>
</div>