<h1 class="font-semibold text-4xl"> Settings </h1>
<%= link_to  "Adjust image tags", [:settings, :tag_names], class: "index-button" %>
<%= link_to  "Adjust image paths", [:settings, :image_paths], class: "index-button" %>