<div class="w-full h-screen">
  <div class="flex flex-row items-center justify-between w-full border border-b-2 border-t-0 border-r-0 border-l-0 border-black dark:border-white">
    <h1 class="font-bold text-4xl mb-2">Current directory paths</h1>
    <div class="flex ml-16 mb-2">
      <%= link_to "Create new",[:new, :settings, :image_path], class: "new-button" %>
    </div>
  </div>
  <div id="image_paths" class="min-w-full h-full flex flex-col items-start">
    <% @image_paths.each do |image_path| %>
      <div class="flex flex-row">
        <%= render image_path %>
        <div class="mt-7 ml-5 text-black">
          <%= link_to "Adjust / delete", [:settings, image_path], class: "bg-fuchsia-200 p-2 rounded-2xl" %>
        </div>
      </div>
    <% end %>
    <div class="pagy-nav flex pb-5 justify-center center-content bg-white dark:bg-slate-800">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
