<%= form_with(model: image_tag, class: "contents") do |form| %>
  <% if image_tag.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(image_tag.errors.count, "error") %> prohibited this image_tag from being saved:</h2>
      <ul>
        <% image_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="inline">
    <%= form.submit class: "submit-button" %>
  </div>
<% end %>
