<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Image embeddings" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Image embeddings</h1>
    <%= link_to "New image embedding", new_image_embedding_path, class: "new-button" %>
  </div>
  <div id="image_embeddings" class="min-w-full">
    <% @image_embeddings.each do |image_embedding| %>
      <%= render image_embedding %>
      <p>
        <%= link_to "Show this image embedding", image_embedding, class: "show-button" %>
      </p>
    <% end %>
  </div>
</div>
