<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New image embedding</h1>
  <%= render "form", image_embedding: @image_embedding %>
  <%= link_to "Back to image embeddings", image_embeddings_path, class: "back-button" %>
</div>
