<div id="<%= dom_id tag_name %>" class="flex flex-row space-x-10 mb-5 mt-5">
  <p class="my-5">
    <div class="text-black dark:text-white p-2 rounded-xl" style="background-color: <%= tag_name.color %>;">
      <%= tag_name.name %>
    </div>
  </p>
</div>
