<div class="w-full">
  <% content_for :title, "Tag names" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Tag names</h1>
    <%= link_to "New tag name", new_tag_name_path, class: "new-button" %>
  </div>
  <div id="tag_names" class="min-w-full">
    <% @tag_names.each do |tag_name| %>
      <%= render tag_name %>
      <p>
        <%= link_to "Show this tag name", tag_name, class: "show-button" %>
      </p>
    <% end %>
  </div>
</div>
