<nav class="relative pt-6 pb-12 bg-gray-300 dark:bg-slate-700" id="navbar">
  <div class="flex flex-row text-slate-800 dark:text-white">
    <%= link_to 'MemeSearch', root_path, class: "btn btn-ghost text-xl left-4 top-5 absolute text-slate-800 dark:text-white" %>
    <ul class="flex flex-row space-x-10 items-center justify-start px-1 inset-x-44 w-3/4 absolute">
      <li>
        <%= link_to 'All images', root_path, class: current_page?(root_path) ? "link link-hover text-black bg-fuchsia-300 px-2 py-3 rounded-xl" : "link link-hover hover:text-black hover:bg-indigo-300 hover:px-2 hover:py-3 hover:rounded-xl" %>
      </li>
      <li>
        <%= link_to 'Search images', search_image_cores_path, class: current_page?(search_image_cores_path) ? "link link-hover text-black bg-fuchsia-300 px-2 py-3 rounded-xl" : "link link-hover hover:text-black hover:bg-indigo-300 hover:px-2 hover:py-3 hover:rounded-xl" %>
      </li>
      <li>
        <%= link_to 'Settings', settings_path, class: current_page?(settings_path) ? "link link-hover text-black bg-fuchsia-300 px-2 py-3 rounded-xl" : "link link-hover hover:text-black hover:bg-indigo-300 hover:px-2 hover:py-3 hover:rounded-xl" %>
      </li>
    </ul>
  </div>
</nav>