<section
  class="section section-1 bg-green-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 text-gray-900 dark:text-white"
    >
      Welcome to <strong>Meme Search</strong>
    </p>
    <p
      class="text-center text-2xl md:text-2xl mt-6 text-gray-900 dark:text-white"
    >
      the open source Meme Search Engine that's free and built to self-host
      locally with Python, Ruby, and Docker.
    </p>
  </div>
</section>

<section
  class="section section-2 bg-blue-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 text-gray-900 dark:text-white"
    >
      Welcome to <strong>Meme Search</strong>
    </p>
    <p
      class="text-center text-2xl md:text-2xl mt-6 text-gray-900 dark:text-white"
    >
      the open source Meme Search Engine that's free and built to self-host
      locally with Python, Ruby, and Docker.
    </p>
  </div>
</section>
