<section
  id="mission"
  class="section section-1 bg-green-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 text-gray-900 dark:text-white"
    >
      Welcome to <strong>Meme Search</strong>
    </p>
    <p
      class="text-center text-2xl md:text-2xl mt-6 text-gray-900 dark:text-white"
    >
      the open source Meme Search Engine that's free and built to self-host
      locally with Python, Ruby, and Docker.
    </p>
  </div>
</section>

<section
  id="try-standard"
  class="section section-2 bg-blue-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 mb-5 text-gray-900 dark:text-white"
    >
      Try the App Right Here!
    </p>
    <div class="flex flex-row space-x-3 items-center">
      <div class="flex flex-col w-full h-full border border-cyan-300">
        <div>
          <p
            class="text-center text-lg md:text-lg mt-6 text-gray-900 dark:text-white"
          >
            Imagine these were your memes.
          </p>
        </div>
        <!-- Slideshow container -->
        <div class="slideshow-container">
          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade flex items-center justify-center">
            <img src="../public/images/cat.jpeg" class="w-[90%] mx-auto" />
          </div>

          <div class="mySlides fade flex items-center justify-center">
            <img src="../public/images/no.jpeg" class="w-[90%] mx-auto" />
          </div>

          <div class="mySlides fade flex items-center justify-center">
            <img
              src="../public/images/two_pills.jpeg"
              class="w-[90%] mx-auto"
            />
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br />
        <!-- The dots/circles -->
        <div style="text-align: center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
      <iframe
        src="https://meme-search-standard.ytdatakit.xyz/"
        class="w-full h-[80vh]"
        frameborder="0"
        title="meme search standard demo"
      ></iframe>
    </div>
  </div>
</section>

<section
  id="try-pro"
  class="section section-3 bg-red-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 text-gray-900 dark:text-white"
    >
      Welcome to <strong>Meme Search</strong>
    </p>
    <p
      class="text-center text-2xl md:text-2xl mt-6 text-gray-900 dark:text-white"
    >
      the open source Meme Search Engine that's free and built to self-host
      locally with Python, Ruby, and Docker.
    </p>
  </div>
</section>

<section
  class="section section-4 bg-emerald-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 text-gray-900 dark:text-white"
    >
      Welcome to <strong>Meme Search</strong>
    </p>
    <p
      class="text-center text-2xl md:text-2xl mt-6 text-gray-900 dark:text-white"
    >
      the open source Meme Search Engine that's free and built to self-host
      locally with Python, Ruby, and Docker.
    </p>
  </div>
</section>

<section
  id="github"
  class="section section-4 bg-amber-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 text-gray-900 dark:text-white"
    >
      Welcome to <strong>Meme Search</strong>
    </p>
    <p
      class="text-center text-2xl md:text-2xl mt-6 text-gray-900 dark:text-white"
    >
      the open source Meme Search Engine that's free and built to self-host
      locally with Python, Ruby, and Docker.
    </p>
  </div>
</section>

<section
  id="about"
  class="section section-4 bg-cyan-500 flex items-center justify-center h-screen"
>
  <div class="mx-auto my-auto max-w-4xl">
    <p
      class="text-center text-3xl md:text-6xl mt-6 text-gray-900 dark:text-white"
    >
      Welcome to <strong>Meme Search</strong>
    </p>
    <p
      class="text-center text-2xl md:text-2xl mt-6 text-gray-900 dark:text-white"
    >
      the open source Meme Search Engine that's free and built to self-host
      locally with Python, Ruby, and Docker.
    </p>
  </div>
</section>
