<html>
  <nav class="bg-gray-800 dark:bg-gray-900">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div
          class="absolute inset-y-0 left-0 flex items-center sm:hidden"
          id="vertical-menu"
        >
          <!-- Mobile menu button-->
          <button
            type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
            id="menu-button"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
            <svg
              class="block h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              id="menu-button-hidden"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
            <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
            <svg
              class="hidden h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              id="menu-button-open"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
          id="menu-div"
        >
          <div class="mt-1 mr-1">
            <a href="https://github.com/neonwatty/meme-search">
              <i
                class="fa-brands fa-github"
                style="color: #63e6be; font-size: 36px"
              ></i>
            </a>
          </div>
          <div id="full-menu" class="hidden xl:ml-6 xl:block">
            <div class="flex space-x-4">
              <a
                class="rounded-md px-3 py-2 text-xl font-medium text-light hover:bg-gray-700 hover:text-white active:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-500"
                aria-current="page"
                href="#mission"
                >mission</a
              >
              <a
                class="rounded-md px-3 py-2 text-xl font-medium text-light hover:bg-gray-700 hover:text-white active:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-500"
                href="#example"
              >
                a short example</a
              >
              <a
                class="rounded-md px-3 py-2 text-xl font-medium text-light hover:bg-gray-700 hover:text-white"
                href="#try-lite"
                >try the lite version!</a
              >
              <a
                class="rounded-md px-3 py-2 text-xl font-medium text-light hover:bg-gray-700 hover:text-white"
                href="#try-pro"
                >try the pro version!
              </a>
              <a
                class="rounded-md px-3 py-2 text-xl font-medium text-light hover:bg-gray-700 hover:text-white"
                href="#download"
                >download
              </a>
            </div>
          </div>
        </div>
        <div
          class="flex items-center ml-18 mt-2 mr-2 w-max select-none transition duration-200 ease-in"
        >
          <!-- Toggle -->
          <div class="relative w-10 mr-2">
            <input
              type="checkbox"
              name="toggle"
              id="theme-toggle"
              class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
              checked="true"
            />
            <label
              for="toggle"
              class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
            ></label>
          </div>
          <!-- Icon -->
          <div class="text-xs">
            <i id="toggle-label" class="fas fa-2x fa-sun text-white"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a
          class="block rounded-md px-3 py-2 text-lg font-medium text-light hover:bg-gray-700 hover:text-white active:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-500"
          aria-current="page"
          href="#mission"
          >mission</a
        >
        <a
          class="block rounded-md px-3 py-2 text-lg font-medium text-light hover:bg-gray-700 hover:text-white active:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-500"
          href="#example"
        >
          example</a
        >
        <a
          class="block rounded-md px-3 py-2 text-lg font-medium text-light hover:bg-gray-700 hover:text-white active:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-500"
          href="#try-lite"
          >try the lite version!</a
        >
        <a
          class="block rounded-md px-3 py-2 text-lg font-medium text-light hover:bg-gray-700 hover:text-white active:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-500"
          href="#try-pro"
          >try the pro version!
        </a>
        <a
          class="block rounded-md px-3 py-2 text-lg font-medium text-light hover:bg-gray-700 hover:text-white active:bg-gray-900 focus:outline-none focus:ring focus:ring-gray-500"
          href="#download"
          >download
        </a>
      </div>
    </div>
  </nav>
</html>
