
  <section class="mx-auto mt-16 pt-24 pb-28 relative max-w-screen-2xl p-4 isolate dark:bg-slate-800">
    <svg class="w-[468px] h-[788px] absolute top-0 left-0 -z-10 transform-gpu overflow-hidden blur-2xl" viewBox="0 0
            468 788" fill="none" xmlns="http://www.w3.org/2000/svg" id="Windframe_bPO_3VbH_D"><circle cx="44.5105" cy="378.637" r="156.383" fill="#4A3AFF"/></circle><circle cx="119.803" cy="529.24" r="156.383" fill="#702DFF"/></circle><circle cx="173.364" cy="372.857" r="156.383" fill="#2D5BFF"/></circle><g filter="url(#filter0_b_1410_520)"><circle cx="73.5409" cy="394.049" r="393.819" fill="white" fill-opacity="0.79"/></circle></g><defs><filter x="-460.404" y="-139.896" width="1067.89" height="1067.89" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feGaussianBlur in="BackgroundImageFix" stdDeviation="70.063"></feGaussianBlur><feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1410_520"></feComposite><feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1410_520" result="shape"></feBlend></filter></defs></svg>
    <div class="mx-auto max-w-2xl">
      <p class="text-center text-gray-500 font-medium tracking-wide uppercase dark:text-white">Search</p>
      <p class="mt-2 text-center text-4xl md:text-6xl text-black font-bold tracking-tight dark:text-white">Search for thing  X</p>
      <div class="mt-24 w-full bg-white rounded-lg drop-shadow-xl p-2.5 flex border border-gray-300">
        <input type="email" class="border-none focus:outline-none p-2.5 flex-1 flex-shrink-0 text-lg w-full"/>
        <button type="submit" fontfamily="Arial" class="px-5 py-2.5 rounded-md bg-black text-white">Search</button>
      </div>
      <div class="items-center justify-center mt-6 flex gap-3">
      </div>
    </div>
  </section>