<% path_names = ImagePath.all.map {|item| item.name.strip} %>
<div id="path_toggle">
  <%= fields_for :search_paths do |path_fields| %>
    <div class="flex flex-col my-auto">
      <div data-controller="multi-select" class="relative">
        <div
    data-action="click->multi-select#toggle"
          class="border rounded-md p-3 bg-white shadow-md cursor-pointer"
          >
          <input id="selected_path_names" readonly name="selected_path_names" data-multi-select-target="selectedItems" class="text-gray-600" placeholder="Choose paths">
        </div>
        <div
    data-multi-select-target="options"
    class="absolute left-0 right-0 mt-1 hidden bg-white border rounded-md shadow-lg z-10"
  >
          <% path_names.each_with_index do |path, index|  %>
            <div class="p-2 flex items-center", id='path_<%= index %>'>
              <%= path_fields.text_field :path,
                        class: 'mr-2 pr-4', 
                        data: {
                          action: "change->multi-select#updateSelection"
                        },
                        type: "checkbox",
                        value: path.to_s.downcase,
                        checked: true
                  %>
              <%= path_fields.label :path, path.to_s, class: "text-black"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>