<% tag_names = TagName.all.map {|item| item.name.strip} %>
<div id="tag_toggle">
  <%= fields_for :search_tags do |tag_fields| %>
    <div class="flex flex-col my-auto">
      <div data-controller="multi-select" class="relative">
        <div
    data-action="click->multi-select#toggle"
          class="border rounded-md p-3 bg-white shadow-md cursor-pointer"
          >
          <input readonly name="selected_tag_names" id="selected_tag_names" data-multi-select-target="selectedItems" class="text-gray-600" placeholder="Choose tags">
        </div>
        <div
    data-multi-select-target="options"
    class="absolute left-0 right-0 mt-1 hidden bg-white border rounded-md shadow-lg z-10"
  >
          <% tag_names.each_with_index do |tag, index|  %>
            <div class="p-2 flex items-center", id='tag_<%= index %>'>
              <%= tag_fields.text_field :tag,
                        class: 'mr-2 pr-4', 
                        data: {
                          action: "change->multi-select#updateSelection"
                        },
                        type: "checkbox",
                        value: tag.to_s.downcase,
                        checked: false
                  %>
              <%= tag_fields.label :tag, tag.to_s, class: "text-black"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>