<div class="w-full">
  <div class="flex flex-row items-center justify-between w-full border border-b-2 border-t-0 border-r-0 border-l-0 border-black dark:border-white">
    <h1 class="font-bold text-4xl mb-2">Current tags</h1>
    <div class="flex ml-16 mb-2">
      <%= link_to "Create new",[:new, :settings, :tag_name], class: "new-button" %>
    </div>
  </div>
  <% content_for :title, "Current tags" %>
  <div id="tag_names" class="min-w-full flex flex-col items-start">
    <% @tag_names.each do |tag_name| %>
      <div class="flex flex-row">
        <%= render tag_name %>
        <div class="mt-7 ml-5 text-black">
          <%= link_to "Adjust / delete", [:settings, tag_name], class: "bg-fuchsia-200 p-2 rounded-2xl" %>
        </div>
      </div>
    <% end %>
    <div class="pagy-nav flex my-5 mb-5 pb-5 justify-center center-content">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
