<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @image_path %>
    <%= link_to "Edit this directory path", [:edit, :settings, @image_path], class: "edit-button" %>
    <%= link_to "Back to directory paths", [:settings, :image_paths], class: "back-button" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete this directory path", [:settings, @image_path], method: :delete,  data: { turbo_confirm: "Are you sure?" }, class: "delete-button" %>
    </div>
  </div>
</div>
