<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @tag_name %>
    <%= link_to "Edit this tag name", edit_settings_tag_name_path(@tag_name), class: "edit-button" %>
    <%= link_to "Back to tag names", settings_tag_names_path, class: "back-button" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this tag name",[:settings, @tag_name], method: :delete, class: "delete-button" %>
    </div>
  </div>
</div>
